awscli
aws-shell
black
boto3
dask[complete]
delta-spark
deltalake
fasteners
flake8
isort
mypy
numpy
pandas
pandas-stubs
polars
pyarrow
pydocstyle
pyspark
pyspark-stubs
qpython3
s3fs
wheel
yfinance